.section-newsletter {
  text-align: center;
  height: 14.6rem;
  background-color: #F2F2F2;
}

.newsletter-titulo {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

.newsletter-titulo h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333333;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-form input {
  width: 28rem;
  height: 4.8rem;
  margin-right: 0.8rem;
  padding-left: 1.7rem;
  border-radius: 0.5rem;
}

.newsletter-form button {
  width: 14rem;
  height: 4.8rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.5rem;
}

.modal {
  background-color: #F2F2F2;
  width: 50rem;
  height: 15rem;
  text-align: center;
  padding: 1.5rem;
}

.modal div {
  padding: 2rem;
}

.modal div h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.modal div p {
  font-size: 1.2rem;
  color: #333333;
}

.modal button {
  width: 32.8rem;
  height: 4.8rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}

.newsletter-msg-error {
  color: #D7182A;
  font-size: 1.2rem;
  text-align: left;
}

@media only screen and (max-width: 750px) {
  .section-newsletter {
    height: 27.6rem;
  }
  .newsletter-form {
    display: block;
  }
  .inputs {
    padding-bottom: 1.5rem;
  }
  .modal {
    width: 36rem;
  }
}